.container {
  border: 2px solid #D3D3D3;
  width: 260px;
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 7px;
  gap: 10px;
  border-radius: 7px;
}

.container:hover {
  scale: 1.02;
  box-shadow: 0 6px 8px rgba(0, 0, 0, 0.1);
}

.image {
  height: 14rem;
  width: 15rem;
}

.container img {
  height: 14rem;
  width: 15rem;
  padding-top: 2px;
}

.title {
  font-weight: bold;
  font-size: 25px;
}

.price {
  font-weight: bold;
  display: flex;
  gap: 7rem;
}

.price button {
  border: none;
  background-color: #D3D3D3;
  padding: 6px;
  border-radius: 7px;
  cursor: pointer;
}

.price button:hover {
  background-color: #27391C;
  color: #fff;
  scale: 1.1;
}

.description {
  text-align: justify;
}

