.content {
  min-height: 90vh;
  padding: 1rem;
  box-sizing: border-box;
}

.text {
  padding: 5vw;
  font-size: 1.2rem;
}

.text h1 {
  font-size: 3rem;
  color: #478778;
  margin-bottom: 1rem;
}

.boxes {
  display: flex;
  flex-wrap: wrap;
  gap: 1rem;
}

.box {
  flex: 1 1 120px;
  padding: 1rem;
  text-align: center;
  font-weight: bold;
  background-color: #ACD3A8;
  border-radius: 7px;
}

.box:hover {
  transform: scale(1.05);
  transition: transform 0.3s ease;
}

.explore {
  background-color: #ACD3A8;
  padding: 2rem 1rem;
}

.explore h1 {
  font-size: 2.5rem;
  font-weight: bold;
  text-align: center;
  color: #18230F;
}

.categories {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  font-weight: 900;
  padding: 1rem;
  gap: 1rem;
  color: #27391C;
}

.categories li {
  cursor: pointer;
  list-style: none;
}

.categories li:hover {
  transform: scale(1.1);
  transition: transform 0.3s ease;
}

.products {
  display: flex;
  justify-content: center;
  margin-top: 5px;
}

.card {
  display: grid;
  grid-template-columns: 250px 250px 250px  250px;
  gap: 5vw;
}

.cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5vh;

}

.searchbar {
  text-align: center;
  margin: 20px;
}

.searchbar input {
  padding: 10px;
  width: 80%;
  max-width: 400px;
  border-radius: 8px; 
  border: 1px solid #ccc;
  font-size: "16px";
}

@media (max-width: 500px) {
  .card {
    grid-template-columns: 250px;
   } 

  .text h1,
  .explore h1 {
    font-size: 2rem;
  }

  .box {
    flex: 1 1 100%;
    font-size: 1rem;
  }

  .categories {
    flex-direction: column;
    align-items: center;
  }
}

/* https://colorhunt.co/ */